<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
</head>

<body class="hold-transition sidebar-mini">

<div layout:fragment="content">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- content-header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Home</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
									<span class="info-box-icon bg-info elevation-1"><i
                                            class="fa fa-arrow-circle-o-right"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Hospital</span> <span
                                        class="info-box-number"> <span th:utext="${hospitalCount}"></span> </span>
                                </div>
                                <!-- /.info-box-content -->
                                <a href="/stock_in" class="small-box-footer mt-4">More Hospital<i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
</body>
</html>